<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/cerulean.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }} - VBox Helper</title>
    {% else %}
    <title>VBox Helper</title>
    {% endif %}
  </head>
  <body>
    <div class="bs-component">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             </button>
             <a href="{{ url_for('index') }}" class="navbar-brand">VBox Helper</a>
           </div>
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
             <ul class="nav navbar-nav">
               <li><a href="{{ url_for('index') }}">Home</a></li>
               <li class="dropdown">
                 <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="users">Users <span class="caret"></span></a>
                 <ul class="dropdown-menu" aria-labelledby="users">
                   <li><a href="{{ url_for('createuser') }}">Create</a></li>
                  </ul>
                </li>
               <li class="dropdown">
                 <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="servers">Servers <span class="caret"></span></a>
                 <ul class="dropdown-menu" aria-labelledby="servers">
                   <li><a href="{{ url_for('createserver') }}">Create</a></li>
                   <li><a href="{{ url_for('listservers') }}">List</a></li>
                  </ul>
                </li>
               <li class="dropdown">
                 <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="vms">VMs <span class="caret"></span></a>
                 <ul class="dropdown-menu" aria-labelledby="vms">
                   <li><a href="{{ url_for('createvm') }}">Create</a></li>
                   <li><a href="{{ url_for('listvms') }}">List</a></li>
                  </ul>
                </li>
             </ul>
             <ul class="nav navbar-nav navbar-right">
               <li><a href="http://builtwithbootstrap.com/" target="_blank">Bootstrap</a></li>
               <li><a href="http://flask.pocoo.org/" target="_blank">Flask</a></li>
               <li><a href="https://www.virtualbox.org/" target="_blank">VirtualBox</a></li>
             </ul>
           </div>
         </div>
       </nav>
     </div>

     <div class="container">
      <div class="row">
       <div class="well bs-component">
            {% block content %}{% endblock %}
       </div>
      </div>
    </div>
</html>