{% extends "base.html" %}
{% block content %}
  <h1>Welcome to VBoxHelper!</h1>
  <div class="bs-component">
  This is a Web User Interface (WUI) aimed to help in the use of the Hypervisor VirtualBox, in this WUI, you can create add your Servers and create and start VMs in any of then from here.
  <br>
  To acomplish this, you need:
  <ul>
  <li>Python</li>
  <li>Flask</li>
  <li>createvm.py</li>
  <li>ws.py</li>
  </ul>
  Both dot py files can be downloaded from my github repo:  <a href="https://github.com/edza978/python_vbox_tools.git">python_vbox_tools</a>
  </div>

{% endblock %}