{% extends "base.html" %}
  {% block content %}
  {% macro render_bootstrap_field(field) %}
    <div class="form-group {% if field.errors %} has-error {% endif %}">
      <label class="col-md-4 control-label" for='{{ field.name }}'>
        {{ field.label }}{% if field.flags %}{% if field.flags.required %} *{% endif %}{% endif %}
      </label>
      <div class="col-md-4">
        {{ field(class='form-control input-md')|safe }}
      </div>
    </div>
  {% endmacro %}

  {% for message in form.hostname.errors %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
  {% endfor %}
  {% for message in form.ipv4.errors %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
  {% endfor %}
  <form class="form-horizontal" action="{{ url_for('createserver') }}" method=post>
    {{ form.hidden_tag() }}
    <fieldset>
    <!-- Form Name -->
      <legend>Server creation form</legend>
      <div class="col-md-6">
        {{ render_bootstrap_field(form.hostname) }}
        {{ render_bootstrap_field(form.ipv4) }}
        {{ render_bootstrap_field(form.port) }}
        {{ render_bootstrap_field(form.arch) }}
      </div>
      <div class="col-md-6">
        {{ render_bootstrap_field(form.os) }}
        {{ render_bootstrap_field(form.cores) }}
        {{ render_bootstrap_field(form.ram) }}
        {{ render_bootstrap_field(form.hds) }}
      </div>
      <!-- Button -->
      <div class="form-group">
        <label class="col-md-6 control-label" for="singlebutton">Create Server</label>
        <div class="col-md-6">
          <button id="singlebutton" name="singlebutton" class="btn btn-primary">create server</button>
        </div>
      </div>
    </fieldset>
  </form>
  <br>
  {% if  servers %}
   <table class="table table-striped table-condensed table-bordered">
    <thead>
      <tr>
        <th class="text-center">Hostname</th>
        <th class="text-center">IPv4</th>
        <th class="text-center">Port</th>
        <th class="text-center">Cores</th>
        <th class="text-center">RAM</th>
        <th class="text-center">Free space</th>
      </tr>
    </thead>
    <tbody>
      {% for s in servers %}
      <tr>
       <td>{{ s[0] }}</td>
       <td>{{ s[1] }}</td>
       <td align="right">{{ s[2] }}</td>
       <td align="right">{{ s[3] }}</td>
       <td align="right">{{ s[4] }}</td>
       <td align="right">{{ s[5] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
 {% endif  %}
{% endblock %}